@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-tertiary: hsl(var(--tertiary));
  --color-tertiary-foreground: hsl(var(--tertiary-foreground));

  --color-light: hsl(var(--light));
  --color-light-foreground: hsl(var(--light-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility no-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 356, 100%, 44%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0, 0%, 20%;
    --secondary-foreground: 0 0% 9%;

    --tertiary: 44, 100%, 49%;
    --tertiary-foreground: 0 0% 9%;

    --light: 0 0% 89.8%;
    --light-foreground: 0 0% 0%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 356, 100%, 44%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0, 0%, 20%;
    --secondary-foreground: 0 0% 98%;

    --tertiary: 44, 100%, 49%;
    --tertiary-foreground: 0 0% 9%;

    --light: 0 0% 9%;
    --light-foreground: 0 0% 100%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground overscroll-none;
  }
}


@layer prose-m-none {
  * {

  }
}

@layer utilities {

.wp-block-group:not(.alignfull):not(.alignwide) {
  @apply max-w-3xl;
  }

.wp-block-group:not(.alignfull) {
    @apply mx-5 md:mx-auto;
  }

.alignwide {
    @apply max-w-5xl;
  }

/*

  .alignfull {
    @apply [&>*]:mx-5 max-w-3xl;
  }

    .wp-block-group {
    @apply max-w-3xl mx-auto;
  }

/*
  .alignfull {
    @apply max-w-full pb-5 [&>*]:mx-auto;
  }
  .wp-block-group {
    @apply max-w-3xl [&>*]:mx-auto;
  }

  .alignwide {
    @apply max-w-5xl [&>*]:mx-auto;
  }
*/

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .has-background-background-color {
    @apply bg-background;
  }

  .has-primary-background-color {
    @apply bg-primary text-primary-foreground;
  }

  .has-secondary-background-color {
    @apply bg-secondary text-secondary-foreground;
  }

  .has-light-background-color {
    @apply bg-light text-light-foreground;
  }

  .has-primary-color {
    @apply text-primary;
  }

  .has-small-font-size{
    @apply text-sm!;
  }

  .has-text-align-center {
    text-align: center;
  }

  .has-text-align-left {
    text-align: left;
  }

  .has-text-align-right {
    text-align: right;
  }

  .zoomin {
    @apply hover:scale-110 transition-transform
  }

}


@layer templates {
  .template-services > section {
    @apply bg-light rounded-xl shadow-xl p-5 sm:p-8 scroll-mt-26;
  }
  .template-services > section > h2 {
    @apply bg-light;
  }
  .template-atomic > section {
    @apply p-5 sm:p-8 space-y-10 scroll-mt-26;
  }
  .template-atomic > section > h2 {
    @apply bg-background;
  }
  .template-atomic > hr {
    @apply border-b border-1 border-primary max-w-120
  }
}